/* селектор по тегу (по типу элемента) */
body {
    /* 1 значение: по всем сторонам */
    margin: 20px;
    /* 2 значения: 1 значение - верх и низ, 2 значение - левый и правый */
    margin: 20px 40px;
    /* 3 значение: 1 знач - верх, 2 - левый и правый, 3 знач - нижний */
    margin: 20px 40px 50px;
    /* 4 значение: 1 верх, 2 правый, 3 нижний, 4 левый */
    margin: 20px 40px 50px 60px;
}

/* селектор по классу */
.content {
    padding: 50px;
}

/* селектор по идентификатору */
#part_1 {
    border-color: rgb(6, 6, 201);
}
#part_2 {
    border-color: rgb(230, 4, 4);
}